* {
    margin:0px;
    padding:0px;
    font-family:arial sans-serif;    
}

a{
    text-decoration:none;
    text-transform:capitalize;
    margin-right:200px;
    text-transform: capitalize;
     color:white;
}

.navbar{
    background-color:#0f1111;
    height:60px;
    padding-top:20px;
}

button{
    background-color: #f08804;
}

#logo{
    color: #f08804;
}

.contentbox{
    width:100px;
    height:100px;
    margin:3px;
    border: 2px solid black;
    display:inline-block;
}


.box2{
    position: sticky;
    top: 0px;
    
}
.nature{
    width:100px;
    height: 100px;
    background-image: url("nature.jpg");
    background-size:cover;
    position: absolute;
    right:10px;
    color:azure;
}
footer{
    background-color:#0f1111;
    text-align:center;
    position:fixed;
    color:white;
    bottom:0px;
    width:100vw;
}
